<video class="videoPlayerMain" #videoPlayer (click)="togglePlayPause()">
    <source src="../assets/nexus.mp4" type="video/mp4">
    Your browser does not support the video tag.

    <div class="controlBar">
        <button (click)="togglePlayPause()">
            {{ isPlaying ? 'Pause' : 'Play' }}
        </button>
        <button (click)="toggleFullScreen()">
            {{ isFullScreen ? 'Exit Fullscreen' : 'Fullscreen' }}
        </button>

        <button (click)="adjustVolume('up')">Increase Volume</button>
        <button (click)="adjustVolume('down')">Decrease Volume</button>

        <span>{{ volume }}</span>
    </div>
</video>
