.custom-video-player {
    user-select: none;
}

.videoPlayerMain {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.videoContainer {
    border-radius: 8px;
    position: relative;
}

.controlBar {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    background: rgba(255, 255, 255);
    margin: 0px;
    position: relative;
    top: -5px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
}

.videoInfo {
    height: 46px;
    line-height: 46px;
    width: 46px;
    background: rgba(231, 231, 231, 0.918);
    margin: 0px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 1000;
}

.buttonGroup {
    margin-left: 1rem;
    display: inline-block;
}

.baseLabel {
    height: 26px;
    line-height: 26px;
    vertical-align: top;
}

.groupActionButton {
    margin-left: 0.5rem;
    border: 0px;
    cursor: pointer;
}

.groupActionButton:hover {
    color: rgba(76, 140, 182, 0.63);
}

.volumeButtonGroup {
    float: right;
    right: 0px;
}

.progress-bar-container {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin: 0px;
}

.progress-bar {
    height: 100%;
    position: relative;
    border-radius: 4px;
    display: block;
    z-index: 1500;
}

.progress-bar-buffer {
    height: 100%;
    position: relative;
    border-radius: 4px;
    display: inline-block;
    top: -22px;
    margin-left: 2px;
    z-index: 995;
}

.progress-knob {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    z-index: 999;
    transform: translateX(-50%);
}

.slider-container {
    display: inline-block;
    align-items: center;
    line-height: 6px;
    vertical-align: top;
}

.slider {
    width: 125px;
    cursor: pointer;
    height: 25px;
    top: -25px !important;
    z-index: 996;
}
