<div class="custom-video-player">
    <div class="videoContainer" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <video class="videoPlayerMain" #videoPlayer (click)="togglePlayPause()">
            <source src="../assets/nexus.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div [hidden]="!showControls" class="controlBar">
            <div class="buttonGroup">
                <button (click)="togglePlayPause()">
                    {{ isPlaying ? 'Pause' : 'Play' }}
                </button>
                <button (click)="toggleFullScreen()">
                    {{ isFullScreen ? 'Exit Fullscreen' : 'Fullscreen' }}
                </button>
            </div>

            <div class="buttonGroup">
                <button (click)="adjustVolume('up')">Increase Volume</button>
                <button (click)="adjustVolume('down')">Decrease Volume</button>
            </div>

            <div class="buttonGroup">
                <button (click)="skipVideo(10)">+ 10</button>
                <button (click)="skipVideo(-10)">- 10</button>

                <span style="margin-left: 0.75rem">{{ volume }}</span>
            </div>
        </div>
    </div>
</div>
