.videoPlayerMain {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.videoContainer {
    border-radius: 8px;
    position: relative;
    max-width: 750px;
}

.controlBar {
    height: 45px;
    line-height: 45px;
    background: #fafafacb;
    width: 100%;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
}

.buttonGroup {
    margin-left: 0.5rem;
    display: inline-block;
    margin-top: 5px;
}

.groupActionButton {
    vertical-align: middle;
    border-radius: 8px;
    background: rgba(81, 157, 201, 0.397);
    padding: 0.25rem 0.75rem;
    color: white;
    margin-left: 0.5rem;
    border: 0px;
    cursor: pointer;
}

.groupActionButton:hover {
    background: rgba(81, 157, 201, 0.568);
}

.volumeButtonGroup {
    float: right;
    right: 0px;
}
