<div class="custom-video-player">
    <div class="videoContainer" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <video class="videoPlayerMain" #videoPlayer (click)="togglePlayPause()">
            <source src="../assets/nexus.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div [hidden]="!showVideoInfo" class="videoInfo">
            <mat-icon class="groupActionButton" style="font-size: 32px;">{{ getPlayPauseVideoInfoIcon() }}</mat-icon>
        </div>

        <div [hidden]="!showControls" class="controlBar">
            <div class="progress-bar-container" (mousedown)="startDragging($event)" (click)="seekVideo($event)">
                <div class="progress-bar" [style.width]="progress + '%'"></div>
                <div class="progress-knob" [style.left]="progress + '%'"></div>
            </div>

            <div class="buttonGroup">
                <span class="baseLabel">{{ currentTime }}</span>
            </div>

            <div class="buttonGroup">
                <mat-icon class="groupActionButton" (click)="togglePlayPause()">{{ getPlayPauseButtonText() }}</mat-icon>
                <mat-icon class="groupActionButton" (click)="toggleFullScreen()">{{ getFullscreenIcon() }}</mat-icon>
            </div>

            <div class="buttonGroup">
                <mat-icon class="groupActionButton" (click)="skipVideo(-10)">skip_previous</mat-icon>
                <mat-icon class="groupActionButton" (click)="skipVideo(10)">skip_next</mat-icon>
            </div>

            <div class="volumeButtonGroup">
                <mat-icon class="groupActionButton" (click)="toggleMuteVideo()">{{ getVolumeButtonIcon() }}</mat-icon>

                <mat-slider style="margin-left: 0.75rem; height: 48px; vertical-align: top;">
                    <input [(value)]="volume" (change)="onVolChange(volume)" matSliderThumb>
                </mat-slider>

                <span class="baseLabel">{{ getVolumeInPercent() }}</span>
            </div>
        </div>
    </div>
</div>
