.videoPlayerMain {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.videoContainer {
    border-radius: 8px;
    position: relative;
    max-width: 750px;
}

.controlBar {
    height: 30px;
    background: #fafafacb;
    width: 100%;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
}

.buttonGroup {
    margin-left: 0.5rem;
    display: inline-block;
    margin-top: 5px;
}
