<div class="custom-video-player">
    <div class="videoContainer" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <video class="videoPlayerMain" #videoPlayer (click)="togglePlayPause()">
            <source src="../assets/nexus.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div [hidden]="!showControls" class="controlBar">
            <div class="buttonGroup">
                <button class="groupActionButton" (click)="togglePlayPause()">{{ getPlayPauseButtonText() }}</button>
                <button class="groupActionButton" (click)="toggleFullScreen()">{{ isFullScreen ? 'Exit Fullscreen' : 'Fullscreen' }}</button>
            </div>

            <div class="buttonGroup">
                <button class="groupActionButton" (click)="skipVideo(10)">+ 10</button>
                <button class="groupActionButton" (click)="skipVideo(-10)">- 10</button>
            </div>

            <div class="volumeButtonGroup">
                <button class="groupActionButton" (click)="toggleMuteVideo()">{{ getVolumeButtonText() }}</button>

                <mat-slider style="margin-left: 0.75rem">
                    <input [(value)]="volume" (change)="onVolChange(volume)" matSliderThumb>
                </mat-slider>
                
                <span style="margin-left: 0.75rem">{{ getVolumeInPercent() }}</span>
            </div>
        </div>
    </div>
</div>
